.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Box {
  width: 400px;
  height: 200px;
  border: 3px solid #282c34;
  border-radius: 15px;
}

.ButtonGroup {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.Button {
  background-color: #f0f0f0;
  border: 3px solid #282c34;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
